@model ContatoModel
@{
    ViewData["Title"] = "Confirmação de Deletar Cliente";
}

<div class="text-center">
    <h3>Deseja deletar o Cliente @Model.Nome?</h3>
</div>

<a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Index">Cancelar Exclusão</a>
<a role="button" class="btn btn-danger" asp-route-id="@Model.Id" asp-controller="Contato" asp-action="Apagar">Confirmar Exclusão</a>