@{
    ViewData["Title"] = "Confirmação de Deletar Contato";
}

<div class="text-center">
    <h3>Deseja deletar o contato []</h3>
</div>

<a role="button" class="btn btn-primary">Cancelar Exclusão</a>
<a role="button" class="btn btn-danger">Confirmar Exclusão</a>