@{
    Layout = "_LayoutOff";
    ViewData["Title"] = "Página Restrita";
}

<p>VOCÊ NÃO TEM AUTORIZAÇÃO PARA ACESSAR ESSA FUNCIONALIDADE <a asp-controller="Home" asp-action="Index">click aqui para voltar para Home.</a></p>